@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
  background-color:#5865F2;
  text-align:center;
  justify-items: center;
  font-family: Quicksand;
}